@import "./views/home/index.scss";
@import "./views/moviedetail/index.scss";
@import "./components/header/index.scss";
@import "./components/moviecard/index.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}